
html { 
  background: url('/images/fanbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
    background: transparent !important;
}

#logo-container img
{
    width: 250px !important;
    height: 53px !important;
}

.spanText {
    padding: 5px;
}
.parentDiv {
    margin-left: 15px;
    font-size: 14pt;
}

.indicator {
    background-color: #404040;
}

.indicator.green {
    background-color: #23AF3B;
}

.indicator.yellow {
    background-color: #E5E02E;
}

.indicator.red {
    background-color: #E53C2E;
}

.panel {
    opacity: 0.95 !important;
}

.container {
    padding-top: 10px !important;
}

.infoContainer{
    padding-bottom: 10px;
}