
html { 
  background: url('/images/fanbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
    background: transparent !important;
}

#logo-container img
{
    width: 250px !important;
    height: 53px !important;
}
.whiteBg {
  background: #FFF !important;
}
.spanText {
    padding: 5px;
}
.parentDiv {
    margin-left: 15px;
    font-size: 14pt;
}
.navMenu {
  background: #333333;
  border-bottom: 1px solid #000;
  width: 100%;
}
.navComponentMenu {
  background: #a6a6a6;
  color: #262626;
}
.navComponentMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;;
  overflow: hidden;
}
.navComponentMenu ul li {
  float: left;
  margin: 2px 10px;
  padding: 2px 5px;
  text-decoration: none;
}
.navComponentMenu ul li a {
  cursor: pointer;
  color: #262626;
}
.navComponentMenu ul li:hover {
  background: #CCC;  
}

.navMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navMenu ul li {
  float: left;
  margin: 2px 10px;
  padding: 2px 5px;
  text-decoration: none;
}
.navMenu ul li:hover {
  background: #595959;  
}
.navMenu ul li a {

  cursor: pointer;
}
.indicator {
    background-color: #404040;
}

.indicator.green {
    background-color: #23AF3B;
}

.indicator.yellow {
    background-color: #E5E02E;
}

.indicator.red {
    background-color: #E53C2E;
}

.panel {
  min-height: 250px;
    opacity: 0.95 !important;
}
.panel .ct-label { 
  color: #FFF !important;
 }

.container {
    padding-top: 10px !important;
}

.infoContainer{
    padding-bottom: 10px;
}