
html { 
  background: url('/images/fanbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
    background: transparent !important;
}
select,
select option
{
  color: #000 !important;
}

#logo-container img
{
    width: 250px !important;
    height: 53px !important;
}
.whiteBg {
  background: #FFF !important;
}
.spanText {
    padding: 5px;
}
.parentDiv {
    margin-left: 15px;
    font-size: 14pt;
}
.navMenu {
  background: #333333;
  border-bottom: 1px solid #000;
  width: 100%;
}
.navComponentMenu {
  background: #a6a6a6;
  color: #262626;
}
.navComponentMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;;
  overflow: hidden;
}
.navComponentMenu ul li {
  float: left;
  margin: 2px 10px;
  padding: 2px 5px;
  text-decoration: none;
}
.navComponentMenu ul li a {
  cursor: pointer;
  color: #262626;
}
.navComponentMenu ul li:hover {
  background: #CCC;  
}

.navMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navMenu ul li {
  float: left;
  margin: 2px 10px;
  padding: 2px 5px;
  text-decoration: none;
}
.navMenu ul li:hover {
  background: #595959;  
}
.navMenu ul li a {

  cursor: pointer;
}
.saveButton {
  text-align: center;
  margin: 0 15%;
  width: 100px;
  color: #000;
  border: 1px solid #262626;
}
.component-min-height
{
  min-height: 350px !important;
}

.contentRow {
  border-top: 1px solid #FFF; 
  background: #262626;
  width: 100%;
  padding: 10px 5% 20px;
  clear:both;
  margin: 0;
}
.contentFields .roundedBox {
  display: block;
  float: left;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  width: 20px;
  border-radius: 5px;
  height: 20px;
  border: 1px solid #FFF;
}
.contentFields .row {
  padding: 5px 0;
}
.contentFields .input {
    width: 75%;
}
.contentFields .row .col-md-3 {
  padding: 10px;
}
.componentList {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #000;
}
.componentList td {
  width: 30%;
  padding: 0 5px 0 15px;
  border-left: 1px solid #FFF;
}
.componentList td .col-md-4 {
  width: 30%;
  padding: 0 5px 0 15px;
  border-left: 1px solid #FFF;
}
.componentList td:first-child {
  border: 0;
}
.indicator {
    background-color: #404040;
}
.optionItem {
  padding: 0 5px;
  margin: 0 5px;
  min-width: 50px;
  border: 1px solid #FFF;
  text-align: center;
}
.indicator.green {
    background-color: #23AF3B;
}

.indicator.yellow {
    background-color: #E5E02E;
}

.indicator.red {
    background-color: #E53C2E;
}

.panel {
  min-height: 250px;
    opacity: 0.95 !important;
}
.panel .ct-label { 
  color: #FFF !important;
 }

.container {
    padding-top: 10px !important;
}

.infoContainer{
    padding-bottom: 10px;
}